
body {
  background-color: #84c63d;
  margin: 0;
}

.textBox {
  border-radius: 5px;
  background-color: #cfffbb;
  height: 25px;
  width: 300px;
  font-size: 18px;
  font-family: Verdana, sans-serif;
  text-align: center;
  display: block;
  margin: 100px auto 0;
}


.output {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  text-align: center;
  color: white;
}
